* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#homePage {
    background-image: url();
    border: solid blue;
    height: 80vh;
}
.homeHistory {
    border: solid yellow;
    height: 600px;
    color: white;
}

.testing {
    border:solid pink;
    background-image: url('http://www.monsterhunterworld.com/sp/images/common/bg_alpha_blown.png');
    height: 200px;
    color: #f5f5f5;
}