* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 240, 230);
    background-image: url('/public/images/noise.png');
    background-position: 50% 50%;
    background-size: 220px;
    background-attachment: fixed;
}
#homePage {
    border: solid blue;
    height: 80vh;
}