/* monster page styling */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:wght@100;400;600;700&display=swap');
/* font-family: 'MedievalSharp', cursive; */
/* font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#flexBox {
    /* border: solid skyblue; */
    padding: 50px 0 50px 95px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#monsterWrap {
      background-image: url('http://www.monsterhunterworld.com/sp/images/common/bg_alpha_blown.png');
    /* background-color: black; */
    color: white;
    /* border: solid lime; */
    /*  */

}
/* monster list */
.monsterNamesBox {
    position: absolute;
    margin-top: 95px;
}
.monsterName {
    border: .25px solid rgba(16, 43, 255, 0.568);
    width: 250px;
    height: 180px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(160, 145, 145)
}
.monsterName:hover{
    color: white;
}
.monsters {
    display: flex;
    flex-wrap: wrap;
}
.monsterImgBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
}
.monsterImg {
    /* border: solid blueviolet; */
    width: 250px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monsterPic {
    width: 100px;
}
/* ------------ */
/* monster info */
#monsterInfoWrap {
      background-image: url('http://www.monsterhunterworld.com/sp/images/common/bg_alpha_blown.png');
    /* border: solid yellow; */
    /* height: 100vh; */
    padding: 90px 0 50px 0;
    color: white;
}
.monsterRow {
    /* border: solid lightblue; */
    display: flex;
    justify-content: center;
    font-size: 12px;
    /* justify-content: space-around; */
}
.monsTitle {
    border: .5px solid #f5f5f5;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monsInfo {
    border: .5px solid #f5f5f5;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.infoMap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.infoMap p {
    border: .5px solid lightgray;
    margin-right: 10px;
    padding: 5px;
}
.nameID {
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    font-weight: bold;
}