*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('https://www.monsterhunterworld.com/images/common/bg_page.jpg');
  background-position: center;
  background-attachment:scroll;
  background-repeat:repeat-y;
}

.App {
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/* NAVBAR */
.navBar {
  /* border:solid fuchsia; */
  /* background-color: rgb(185, 155, 115); */
  /* background-image: url('http://www.monsterhunterworld.com/sp/images/common/bg_alpha_blown.png'); */
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: .3s ease-in;
}
.navBarBg {
  /* background-color: rgb(0,0,0.9); */
  background-color: white;
}
.navLinks{
  border: solid crimson;
  height: 80px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: .3s ease-in;
}
.navLinksBg {
  /* background-color: rgb(0, 0, 0.9); */
  background-color: white;
}

.navUl {
  display: flex;
  list-style: none;
  gap: 40px;
}
a {
  text-decoration: none;
  color: #000;
}
.navLogo {
  width: 130px;
  filter: drop-shadow(0 0 1px royalblue)
}
h6 {
  position: relative;
  margin: -10px 0 0 60px;
}
.navFlag {
  /* border :solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#test {
  /* border: solid white; */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
}
.navFlagTitle{
  /* border: solid lime; */
  /* height: 100%; */
  font-size: 17px;
  z-index: 99;
  position: absolute;
  margin-top: 15px;
  filter: drop-shadow(0 0 0.5rem crimson);
}
.menuFlag {
  z-index: -9;
}

/* attempt navscroll */
.scroll2 {
  #navBar {
    /* background-color: rgb(185, 155, 115); */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
}



/* ------------------------------------------------------------------------- */
/* CAROUSEL */
#carousel {
  border:solid orange;
  display: flex;
  height: 790px; /* can change according to img */
  width: 100%;
}
.carouselWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .5s linear;
}
.cardActive{
  opacity: 1;
  pointer-events: visible;
}
.carouselImg{
  width: 100%;
  height: 800px;
  /* object-position: center; */
  object-position: 100% 5%;
  /* object-fit: contain; */
}
.cardTextBox {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,0.5); */
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}
.cardTitle {
  color: #f5f5f5;
  font-size: 30px;
}
.arrowLeft, .arrowRight {
  position: absolute;
  font-size: 50px;
  font-weight: 100;
  top: 50%;
  background-color: #f5f5f5;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 7px;
  cursor: pointer;
  color: #000000a5;
}
.arrowLeft {
  left: 15px;
}
.arrowRight {
  right: 15px;
  transform: scaleX(-1);
}
/* ------------------------------------------------------------------------- */
/* FOOTER */
#footer {
  background-color: antiquewhite;
  /* position: inherit; */
  bottom: 0;
  padding: 30px 0;
}
.footerUl {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
li > a:hover {
  color: rgb(39, 39, 180);
}
li > span {
  font-style: italic;
  font-weight: 700;
}

/* ------------------------------ */
/* ----------------------------------- HOME PAGE COMPONENTS --------- */
/* testy test */
#testyTest {
  border:solid lime;
  height: 300px;
}