@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:wght@100;400;600;700&display=swap');
/* font-family: 'MedievalSharp', cursive;
font-family: 'Poppins', sans-serif; */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('https://www.monsterhunterworld.com/images/common/bg_page.jpg');
  background-position: center;
  background-attachment:scroll;
  background-repeat:repeat-y;
}

.App {
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/* NAVBAR */
.navBar {
  /* border:solid fuchsia; */
  /* background-color: rgb(185, 155, 115); */
  /* background-image: url('http://www.monsterhunterworld.com/sp/images/common/bg_alpha_blown.png'); */
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: .3s ease-in;
}
.navBarBg {
  /* background-color: rgb(0,0,0.9); */
  /* background-color: white; */
  background-color: rgba(57, 57, 64, 0.583);
}
.navLinks{
  /* border: solid crimson; */
  height: 80px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: .3s ease-in;
}
.navLinksBg {
  /* background-color: rgb(0, 0, 0.9); */
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.navUl {
  display: flex;
  list-style: none;
  gap: 40px;
}
a {
  text-decoration: none;
  color: #000;
}
.navLogo {
  width: 130px;
  filter: drop-shadow(0 0 1px royalblue)
}
h6 {
  position: relative;
  margin: -10px 0 0 60px;
}
.navFlag {
  /* border :solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#test {
  /* border: solid white; */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
}
.navFlagTitle{
  /* border: solid lime; */
  /* height: 100%; */
  font-size: 17px;
  z-index: 99;
  position: absolute;
  margin-top: 15px;
  filter: drop-shadow(0 0 0.5rem crimson);
}
.menuFlag {
  z-index: -9;
}

/* attempt navscroll */
.scroll2 {
  #navBar {
    /* background-color: rgb(185, 155, 115); */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
}



/* ------------------------------------------------------------------------- */
/* CAROUSEL */
#carousel {
  /* border:solid orange; */
  display: flex;
  height: 790px; /* can change according to img */
  width: 100%;
}
.carouselWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .5s linear;
}
.cardActive{
  opacity: 1;
  pointer-events: visible;
}
.carouselImg{
  width: 100%;
  height: 800px;
  /* object-position: center; */
  object-position: 100% 5%;
  /* object-fit: contain; */
}
.cardTextBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}
.cardTitle {
  color: #f5f5f5;
  font-size: 50px;
  padding: 50px;
  font-family: 'MedievalSharp', cursive;
  /* text-shadow: 2px 2px 8px #FF0000; */
  text-shadow: 2px 2px 4px #000000;
}
.arrowLeft, .arrowRight {
  position: absolute;
  font-size: 50px;
  font-weight: 100;
  top: 50%;
  background-color: #f5f5f5;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 7px;
  cursor: pointer;
  color: #000000a5;
}
.arrowLeft {
  left: 15px;
}
.arrowRight {
  right: 15px;
  transform: scaleX(-1);
}
/* ------------------------------------------------------------------------- */
/* FOOTER */
#footer {
  background-color: #000000ef;
  /* position: inherit; */
  bottom: 0;
  padding: 30px 0;
  color: #faebd7
}
.footerUl {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
a {
  color: #faebd7;
}
li > a:hover {
  color: rgb(125, 186, 255);
}
li > span {
  font-style: italic;
  font-weight: 700;
}

/* ------------------------------ */
/* ----------------------------------- HOME PAGE COMPONENTS --------- */
/* MONSTER HIGHLIGHT - TESTYCOMP */
#testyTest {
  /* border:solid lime; */
  padding-bottom: 50px;
}
.monsterWrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'MedievalSharp', cursive;
  color: #f5f5f5;
  letter-spacing: .25em;
}
.sub {
  text-align: right;
  color: #a02525;
}
.testingBox p{
  /* border: solid fuchsia; */
  background: rgba(0, 0, 0, 0.467);
  color: white;
  margin-top: 30px;
  padding: 10px;
}
.rathianBox, .nergiganteBox, .xenoBox {
  display: flex;
  align-items: center;
}
/* rathian */
.rathianBox {
  margin-left: 80px;
}
.rathianDesc {
  border-radius: 10px;
  height: 200px;
  width: 500px;
  position: relative;
  top: -60px;
}
.monsterImg1:hover {
  filter: drop-shadow(0 0 0.75rem crimson)
}
/* xeno */
.xenoBox {
  margin-left: 80px;
}
.monsterImg3 {
  width: 800px;
}
.monsterImg3:hover{
  filter: drop-shadow(0 0 0.75rem rgb(156, 85, 255));

}
.xenoDesc {
  width: 500px;
  margin-right: 20px;
}
/* nergigante */
.nergiganteBox{
  margin-left: 70px;
}
.monsterImg2 {
  width: 700px;
}
.monsterImg2:hover{
  filter: drop-shadow(0 0 0.75rem rgb(62, 41, 255));
}
.nergiganteDesc{
  width: 500px;
  border-radius: 10px;
  margin-left: 20px;
}
/* ------------------------------------------- */
.border {
  margin: 30px 0;
}
/* testycomp */
.homeHistory {
  display: flex;
  justify-content: center;
}
.mhStory {
  /* border: solid hotpink; */
  background: rgba(0, 0, 0, 0.467);
  height: 350px;
  width: 1000px;
  padding: 10px;
  font-family: 'MedievalSharp', cursive;
  font-size: 25px;
  color: #e1dcdc;
}
.mhStory > * {
  margin-block-start: 20px;
}
.mhTitle {
  font-weight: 700;
  color: rgb(30, 0, 255);
}
.mhStory span {
  font-style: italic;
}
/* --------------------------------------------- */
#errorPage {
  margin-top: 100px;
}
#errorPage h1 {
  font-size: 50px;
}
#errorPage p {
  margin-top:20px;
  font-size: 20px;
  color: #f5f5f5;
}
.errorHome {
  text-decoration: underline;
  font-weight: 700;
}